<ion-content [fullscreen]="false">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista pendientes</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <strong class="titulo">Esta es la lista de pendientes de {{ userName }} </strong>
    <p> {{ userName }}, puedes editar tus pendientes </p>
    <p>desde el menu lateral</p>
  </div>
</ion-content>

<ion-content>
  <div id="container">
    <ion-item>
      <h3 slot="start" class="titulo">Lunes</h3>
      <p>{{ TareaL }}</p>
    </ion-item>
  </div>
  
</ion-content>

<ion-content>
  <div id="container">
    <ion-item>
      <h3 slot="start" class="titulo">Martes</h3>
      <p>{{ TareaMa }}</p>
    </ion-item>
  </div>
</ion-content>

<ion-content>
  <div id="container">
    <ion-item>
      <h3 slot="start" class="titulo">Miercoles</h3>
      <p>{{ TareaMi }}</p>
    </ion-item>
  </div>
</ion-content>
<ion-content>
  <div id="container">
    <ion-item>
      <h3 slot="start" class="titulo">Jueves</h3>
      <p>{{ TareaJ }}</p>
    </ion-item>
  </div>
</ion-content>
<ion-content>
  <div id="container">
    <ion-item>
      <h3 slot="start" class="titulo">Viernes</h3>
      <p>{{ TareaV }}</p>
    </ion-item>
  </div>
</ion-content>
<ion-content>
  <div id="container">
    <ion-item>
      <h3 slot="start" class="titulo">Sabado</h3>
      <p>{{ TareaS }}</p>
    </ion-item>
  </div>
</ion-content>
<ion-content>
  <div id="container">
    <ion-item>
      <h3 slot="start" class="titulo">Domingo</h3>
      <p>{{ TareaD }}</p>
    </ion-item>
  </div>
</ion-content>